@font-face {
  font-family: GerstnerProgWeb;
  src: url(fonts/GerstnerProgWeb-Bold.eot);
  src: url(fonts/GerstnerProgWeb-Bold.eot?#iefix) format("embedded-opentype"), url(fonts/GerstnerProgWeb-Bold.woff2) format("woff2"), url(fonts/GerstnerProgWeb-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: GerstnerProgWeb;
  src: url(fonts/GerstnerProgWeb-Light.eot);
  src: url(fonts/GerstnerProgWeb-Light.eot?#iefix) format("embedded-opentype"), url(fonts/GerstnerProgWeb-Light.woff2) format("woff2"), url(fonts/GerstnerProgWeb-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal
}

@font-face {
  font-family: GerstnerProgWeb;
  src: url(fonts/GerstnerProgWeb-Regular.eot);
  src: url(fonts/GerstnerProgWeb-Regular.eot?#iefix) format("embedded-opentype"), url(fonts/GerstnerProgWeb-Regular.woff2) format("woff2"), url(fonts/GerstnerProgWeb-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal
}

html {
  height: 100%
}

body {
  cursor: -webkit-image-set( url('hi.svg') 1x, url('hi.svg') 2x), auto
}

body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  font-family: GerstnerProgWeb, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  text-align: left;
  text-rendering: optimizeLegibility;
  background: #000;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr auto
}

a {
  position: relative;
  display: inline-block
}

a, a:active, a:visited {
  color: rgba(255, 255, 255, .3);
  text-decoration: none;
  -webkit-transition: color .2s ease-out, background 1s ease-in;
  transition: color .2s ease-out, background 1s ease-in
}

a:hover {
  color: rgba(255, 255, 255, .7)
}

a:after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background-color: #fff;
  transition: width .2s ease, background-color .2s ease;
  margin: 0;
  position: absolute;
  top: 50%
}

a:hover:after {
  width: 100%
}

p {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0;
  padding: 2em 0 .6em 0;
  text-align: center
}

ul {
  padding: 0
}

ul li {
  display: inline;
  font-weight: 300;
  padding: 0 .6em 0 .6em;
  font-size: 1em;
  letter-spacing: .1
}

.raft {
  color: #F9D989 !important
}

.dex {
  color: #43E7FD !important
}

span {
  color: #F7417A
}

main {
  --width: 500px;
  --height: 260px;
  --center-left: calc(50% - var(--width) / 2);
  --center-top: calc(50% - var(--height) / 2);
  --ease-in-out-quart: cubic-bezier(.77, 0, .175, 1);
  position: absolute;
  top: var(--center-top);
  left: var(--center-left);
  width: var(--width);
  height: var(--height);
  animation: fadein .8s var(--ease-in-out-quart)
}

.logo {
  width: 109px;
  height: 114px;
  margin: 0 auto
}

footer {
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 0 auto
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}